@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
:root{
    --sidebar-width-closed : 5%;
    --sidebar-width-open : 15%;
    --header-width : 95%;
    --font: 'Poppins', sans-serif;
    --light-grey : rgba(128, 128, 128, 0.5);
    --font-montserrat :'Montserrat', sans-serif;
    --blue : #1174EF;
    --light-blue : #11CBEF;
    --main-sidebar-open-width : 85%;
}
.layout {
    font-family: var(--font) ;
   box-sizing: content-box;
}

.sidebar {
    width: var(--sidebar-width-closed);
    content: "";
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding-right: 0;
    top: 0;
    left: 0;
    z-index: 10;
    border-right:solid rgba(128, 128, 128, 0.1);
    border-left-width: thin;
    box-shadow: 0px 3px 2px #00000029;
    transition: width 0.5s ease;
}
.sidebar:hover {
    width: var(--sidebar-width-open);
}

.sidebarOpen {
    width: var(--sidebar-width-open);
}
.mainSideBarOpen {
    width : var(--main-sidebar-open-width) !important;
    margin-left : var(--sidebar-width-open) !important;
}
.activeOnglet {
   
    border-left: 3px solid var(--blue) !important;
    font-weight: bold;
}
.main {
    height: 90vh;
    margin-left : var( --sidebar-width-closed );
}
.header {
    margin-left : var( --sidebar-width-closed );
    height: 10vh;
    width : var(--header-width);
    background-color: #fafafa;
    display: flex;
    align-items: center;
}
.headerSideBarOpen {
    margin-left : var(--sidebar-width-open);
    width : var(--main-sidebar-open-width);
}
.hleft {
    justify-content: flex-start;
    margin-left: 2% ;
}
.hcenter{
    justify-content: center;
}
.hright{
    justify-content: flex-end;
    margin-right: 2% ;
}

.box1{
    flex :1;
    display : flex; 
    align-items: center;
    padding: 0;
    height: 100%;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5% 10%;
    color : lightskyblue;
    font-family: var(--font-montserrat ) !important;
}
.brand.title{
    font-weight: 600;
   
}
.divider {
    opacity: 0.2;
    width: 100%;
}

#routeName {
    text-transform: uppercase;
    color: var(--blue);
}
.search {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font) ;
    padding : 1% ;
    width: 100%;
    border-radius: 50px;
    border : 0.5px solid var(--light-grey)
}
.searchField {
    width: 60%;
    padding : 2% 10%;
    border : none;
    font-family: var(--font) ;
    outline: none;
    background-color: transparent;
}
#searchIcon {
    padding-left : 2% ;
    color: var(--light-grey);
}   
.funcs {
    padding: 10%;
    display: flex;

    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.func {
    flex :1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid transparent;
    width: 100%;
    box-sizing: border-box;
    color : #212121;
    text-decoration: none;
    align-self: center;
    padding :20px;
    cursor: pointer;
    transition: background-color font-weight 0.5s ease;
}
.func:visited {
    text-decoration: none;
}
.func:hover{
    
    background-color: rgba(128, 128, 128, 0.2);
}
#optionsContainer {
    margin-left: auto;
}
#user {
    display : flex ;
    justify-content: center;
    align-items: center;
    margin-left : 30%;
    width: 60%;
}
#username {
    margin-left: 2%;
}
.options {
    flex: 1;
    margin-left: auto;
    display: flex;
    justify-content:flex-end !important;
    width: 40%;
}

.icon {
    width: 20px;
    margin: 0  10px;
}

.showOnHover [id=text] {
    
    width: 0;
    transition: 0.5s ease;
    opacity: 0;
}
.showOnHover:hover [id=text]{
    width: auto;
    transition: 0.5s ease;
    opacity: 1;
}
.showContent {
    width: auto !important;
    opacity: 1 !important;
}
.funcButton {
    background-color: transparent;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    padding : 10px 10px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10%;
    transition: background-color 0.5s ease;
}
.funcButton:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.gradientDiv {
    height: 33%;
    overflow-x: hidden;
    position: absolute;
    z-index: -1;
    background: linear-gradient(260deg, rgba(17,116,239,1) 0%, rgba(17,205,239,1) 100%);
    width: 95% ;
}

@media screen and (max-width: 1200px) {
    .gradientDiv {
        width: 85%;
    }
    .sidebar {
        width : 15%;
    }
    .sidebarOpen {
        width: 25%;
    }
    .func {
        padding :2vw 5px;
        font-size: small;
    }
   .icon {
    width: 25px;
    margin: 0  auto;
   }
   .main {
    margin-left : 15%;
   }
   .header{
       margin-left:  15%;
   }
   .optionsContainer {
       flex: 2;
       margin: 0;
       margin-left: 2vw;
   }
   .funcButton {
    padding : 2px 2px;
   }
   #user {
         margin-right:  15%;
       flex-direction: column;
   }
   #user h4 {
    margin : 4px 0;
   }
   #routeName {
       flex: 0.5;
   }
   #searchbar {
       flex : 2 !important;
   }
   .search{
    padding : 0;
   }
}
